
html{
  scroll-behavior: smooth;
}
a {
  color: black;
}
a:visited {
  color: black;
}
.App {
  text-align: center;
}

.sidebar {
  position: sticky;
  top: 0;
  overflow: hidden;
}

.sidebar .itemStyle a {
  color: #333;
  padding: 10px;
  text-decoration: none;
}
.sidebar .itemStyle a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar .itemStyle a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.itemStyle a{
    display: flex;
    align-items: center;
    font-size: 18px;
}

.grid2{
  margin: 10%;
}

#about, #experience, #projects, #skills, #education, #contact{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
}
ul{
  padding: 0;
}
ul li{
  list-style-type: none;
  text-align: left;
}
.courses{
  text-align: left;
}
.courses ul li{
  list-style-type: disc;
}
.logo img{
  max-width: 10rem;
  padding: 1rem
}
#contact{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#contact a{
  padding: 1rem;
  text-decoration: none;
}
.exp-card{
  margin: 0.8rem 0;
}
#projects, #education{
  display: flex;
  flex-wrap: wrap;
}
#projects .project-card{
  margin: 1%;
}
#education .edn{
  margin: 1%;
}
@media only screen and (max-width: 500px) {
  .itemStyle a span{
    display: none;
  }
}